<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules ="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\site\wwwroot\startup.cmd" startupTimeLimit="300" stdoutLogEnabled="true">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true" />
        <environmentVariable name="PATH_EXTEND" value="D:\home\site\wwwroot\bin\jruby-1.7.20\bin\" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>